= simple_form_for @map do |f|
  - if @map.errors.any?
    #error_explanation
      h2 = "#{pluralize(@map.errors.count, "error")} prohibited this map from being saved:"
      ul
        - @map.errors.full_messages.each do |message|
          li = message

  = f.input :min
  = f.input :width
  = f.input :height
  .actions = f.submit 'Save', class: ['btn', 'btn-primary']
