h1 Listing maps

table.table.table-striped
  tr
    th Min
    th Width
    th Height
    th Points
    th
    th

  - @maps.each do |map|
    tr
      td = map.min
      td = map.width
      td = map.height
      td = link_to 'Points', map_start_points_path(map)
      td = link_to 'Edit', edit_map_path(map)
      td = link_to 'Destroy', map, :confirm => 'Are you sure?', :method => :delete

br

= link_to 'New Map', new_map_path
