
<div style="margin: 100px">
  <table id="board">
    <% for @row in @map %>
        <tr>
          <% for @cell in @row %>
              <td class="empty" x=<%= @cell['x'] %> y=<%= @cell['y'] %>> &nbsp</td>
          <% end %>
        </tr>
    <% end %>
  </table>
</div>



<script>

    $(function(){
      $("[x='0']").addClass("wall");
      $("[y='0']").addClass("wall");
      $("[y='<%= @map.length - 1 %>']").addClass("wall");
      $("[x='<%= @map[0].length - 1  %>']").addClass("wall");
      $('.wall').html('#');
    })

    steps = [<%= raw @steps.map{|step|
        "{" + step.algorithm_steps.map{ |alg_step|
          alg_step.algorithm_id.to_s + ": {x:" + alg_step.x.to_s + ", y:" + alg_step.y.to_s + "}"
        }.join(", ") + "}"
    }.join(", ") %>]
    $(function(){$( "#slider" ).slider({
        max: steps.length,
        min: 0,
        change: function(a, ui){
            goToStep(ui.value);
        }
    });})

    var animationInterval = null;
    var currentStep = null;

    function animateRound(start) {
        $("#start-animation").attr("disabled", "disabled")
        $("#continue-animation").attr("disabled", "disabled");
        $("#pause-animation").removeAttr("disabled");

        currentStep = start;
        animationInterval = setInterval(function(){
            $( "#slider").slider( "value", currentStep );
            currentStep = $("#slider").slider("value");

            currentStep++;
            if (currentStep > steps.length) {
                stopAnimation();
                return;
            }
        }, 300);
    }

    function pauseAnimation() {
        $("#pause-animation").attr("disabled", "disabled");
        $("#start-animation").removeAttr("disabled");
        $("#continue-animation").removeAttr("disabled");


        if (animationInterval == null) {
            return;
        }

        window.clearInterval(animationInterval);
        animationInterval = null;
    }

    function stopAnimation(){
        if (animationInterval == null) {
            return;
        }

        $("#start-animation").removeAttr("disabled");
        $("#pause-animation").attr("disabled", "disabled");
        $("#continue-animation").attr("disabled", "disabled");

        window.clearInterval(animationInterval);
        animationInterval = null;
        currentStep = null;
    }

    function continueAnimation(){
        if (currentStep == null || animationInterval != null) {
            return;
        }



        animateRound($("#slider").slider("value"));
    }

    $(function(){
        $("#pause-animation").attr("disabled", "disabled");
        $("#continue-animation").attr("disabled", "disabled");
    });
</script>

<div>
    <p>Steps:</p>
    <div id="slider"></div>
    <div id="round-animation">
        <button id="start-animation" onclick="animateRound(0);">Animate</button>
        <button id="pause-animation" onclick="pauseAnimation();">Pause</button>
        <button id="continue-animation" onclick="continueAnimation();">Continue</button>
    </div>
</div>
<%= link_to 'Back', game_path(@game) %>