= simple_form_for @game, url:  game_bot_path(@game) do |f|
  - if @game.errors.any?
    #error_explanation
      h2 = "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      ul
        - @game.errors.full_messages.each do |message|
          li = message

  .form-inputs
    =select_tag 'bot_id', options_from_collection_for_select(bots, 'id', 'name')
  .form-actions
    .actions = f.submit 'Submit Bot', class: ['btn', 'btn-primary']
