= simple_form_for [@game, algorithm] do |f|
  - if algorithm.errors.any?
    #error_explanation
      h2 = "#{pluralize(algorithm.errors.count, "error")} prohibited this algorithm from being saved:"
      ul
        - algorithm.errors.full_messages.each do |message|
          li = message
  = f.error_notification

  .form-inputs
    = f.input :bot, label: 'Save?'
    = f.input :code
    = f.input :description
  .form-actions
    .actions = f.submit 'Submit New Algorithm', class: ['btn', 'btn-primary']
