h1 Listing algorithms

table
  tr
    th Bot
    th
    th
    th

  - @algorithms.each do |algorithm|
    tr
      td = algorithm.bot
      td = link_to 'Show', algorithm
      td = link_to 'Edit', edit_algorithm_path(algorithm)
      td = link_to 'Destroy', algorithm, :confirm => 'Are you sure?', :method => :delete

br

= link_to 'New Algorithm', new_algorithm_path
