
.container
  .span4
    table.table.table-striped
      tr
        th id
        th Bot
        th Desc
        th

      - algorithms.each do |algorithm|
        tr
          td = link_to algorithm.id, [@game, algorithm]
          td = algorithm.bot
          td = algorithm.description
          td = link_to 'delete', game_algorithm_remove_path(@game, algorithm), :confirm => 'Are you sure?', :method => :delete
    br