= simple_form_for @game do |f|
  - if @game.errors.any?
    #error_explanation
      h2 = "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      ul
        - @game.errors.full_messages.each do |message|
          li = message

  .form-inputs
    = f.input :name
    = f.association :map, :as => :collection_select, collection: Map.all.select { |map| map.start_points_valid? }, label_method: :prettyname
    = f.input :rounds_num
  .form-actions
    .actions = f.submit 'Save', class: ['btn', 'btn-primary']