h3 Listing rounds

table.table.table-striped
  tr
    th no
    th results
    - @game.algorithms.each do |algorithm|
      th = algorithm.id

  - rounds.each do |round|
    tr
      td = round.number
      td = link_to 'Show', game_round_path(@game, round)
      - @game.algorithms.each do |algorithm|
        td = round.scores[algorithm]

table.table.table-stripped
  tr
    th = 'And the winner is '  + @game.winner.id.to_s
br
