.container
  .row

    .span6
      p
        'This application was developed during the course of
        'Software Development Methods at University of Science and Technology
        'by the following team:
        ul
          - @team.each do |member|
            li= member
  .row
    .span6
      'To get more info about <b>Trails</b> visit
      = link_to 'project wiki', 'https://www.assembla.com/spaces/agh-trails/wiki'
      '
      'at Assembla.
br
br