h1 Listing games

table.table.table-striped
  tr
    th Name
    th Map
    th Rounds
    th Status
    th
    th
    th

  - @games.each do |game|
    tr
      td = game.name
      td = game.map.prettyname
      td = game.rounds_num
      td = game.status
      td = link_to 'Show', game
      td = link_to 'Edit', edit_game_path(game)
      td = link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete

br

= link_to 'New Game', new_game_path
