p#notice = notice

.container
  .row
    dl.dl-horizontal
      dt Name:
      dd= @game.name
      dt Map:
      dd= @game.map.prettyname
      dt Status:
      dd= @game.status
      dt Number of rounds:
      dd= @game.rounds_num
      dt Status
      dd= @game.status

.container
  .row
    .span6
      == render 'algorithm_list', algorithms: @current_algorithms
    - unless @game.active?
      .span6
        == render 'rounds', rounds: @game.rounds
  .row
    - if @game.active?
      .span6
        == render 'algorithms/form', algorithm: @algorithm

      .span6
        == render 'algorithms/bots_form', algorithm: @algorithm, bots: @bots

  .row
    - if @game.has_min_players?   and  @game.active?
      == link_to 'Start', :action => 'start'

p


= link_to 'Edit', edit_game_path(@game)
'|
= link_to 'Back', games_path
