/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require_tree .
 */

.wrapper {
    padding-top: 60px;
}

#board {
    background: #000000;
    border: 2px solid black;
}

#slider {
    max-width: 350px;
}

#round-animation {
    margin-top: 5px;
}

#board td {
    min-height: 20px;
    min-width: 20px;
    background: whitesmoke;
    border: 1px solid #aaaaaa;
}

.profiler-results {
    display: none !important;
}

.player-0 {
    background: greenyellow !important;
}

.player-1 {
    background: red !important;
}

.player-2 {
    background: aqua !important;
}

.player-3 {
    background: chocolate !important;
}

.player-4 {
    background: darksalmon !important;
}

.player-5 {
    background: darkolivegreen !important;
}

.player-6 {
    background: thistle !important;
}

.player-7 {
    background: deeppink !important;
}

.player-8 {
    background: darkorange !important;
}

.wall {
    background: #222222 !important;
}

.current-step {
    opacity: 0.5;
}

.dead {
    background: antiquewhite !important;
}

.dead.player-1 {
    border: solid 2px red !important;;
}

.dead.player-2 {
    border: solid 2px aqua !important;;
}

.dead.player-3 {
    border: solid 2px chocolate !important;;
}

.dead.player-4 {
    border: solid 2px darksalmon !important;;
}

.dead.player-5 {
    border: solid 2px darkolivegreen !important;;
}

.dead.player-6 {
    border: solid 2px thistle !important;;
}

.dead.player-7 {
    border: solid 2px deeppink !important;;
}

.dead.player-8 {
    border: solid 2px darkorange !important;;
}