= simple_form_for [@map, @start_point] do |f|
  - if @start_point.errors.any?
    #error_explanation
      h2 = "#{pluralize(@start_point.errors.count, "error")} prohibited this map from being saved:"
      ul
        - @start_point.errors.full_messages.each do |message|
          li = message

  = f.input :x, collection: 1..(@map.width-2)
  = f.input :y, collection: 1..(@map.height-2)
  .actions = f.submit 'Save', class: ['btn', 'btn-primary']
