h1 Listing start points

table.table.table-striped
  tr
    th X
    th Y
    th
    th
    th

  - @start_points.each do |start_point|
    tr
      td = start_point.x
      td = start_point.y
      td = link_to 'Edit', edit_map_start_point_path(@map, start_point)
      td = link_to 'Destroy', map_start_point_path(@map, start_point), :confirm => 'Are you sure?', :method => :delete

br

= link_to 'New Point', new_map_start_point_path(@map)
'|
= link_to 'Map', maps_path(@map)
