doctype
html
  head
    title Trails
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true, :jquery => true
    = csrf_meta_tags
  body

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar[type="button" data-toggle="collapse" data-target=".nav-collapse"]
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand[href="#"]
            | Trails
          .nav-collapse.collapse
            ul.nav
              li= link_to 'example', '/'
              li= link_to 'games', games_path
              li= link_to 'maps', maps_path
              li= link_to 'about', about_path


    .wrapper
      - flash.each do |name, msg|
        = content_tag :div, raw(msg), class: "alert"

      = yield

    .push

    footer
      .container
        p &copy; 2014 All rights reserved.
        p
          a[href='#']
